.wrapper {
    display: grid;
    margin: auto;
    padding: .1em;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(8, 1fr);
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
}

.cell {
    background-color: white;
}

.black {
    background-color: black;
}