.wrapper {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 400px;
    height: 400px;
    margin: auto;

}

.cell {
    background-color: white;
    padding: 7.25%;
}

.black {
    background-color: black;
}