.wrapper {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 0.1em;

    border-style: solid;
    border-color: black;
    border-width: 0.2em;

}

.cell {
    background-color: white;
    padding: 7.25%;
}

.black {
    background-color: black;
}