body {
    background-color: #202020;
}

table {
    width: 90%;
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
    table-layout: fixed;
}

thead {
    font-weight: bold;
}

td {
    padding-right: 1%;
}

td.id {
    width: 3%;
    text-align: center;
}

td.name {
    width: 20%;
}

td.region {
    width: 20%;
}

td.population {
    width: 15%;
    text-align: right;
}

td.area {
    width: 10%;
    text-align: right;
}

td.currencies {
    width: 25%;
}

td.flag {
    width: 5%;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

div.filters {
    width: 90%;
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
    padding-bottom: 20px;
}